	<div class="template-form">
		<!--<form :class="{ 'is-dirty': formIsDirty }">-->
			<input type="text"
				   class="full-width"
				   placeholder="Give your snippet a memorable name"
				   ref="inputName"

				   v-on:keyup.enter="$event.target.nextElementSibling.focus()"
				   :class="{ 'invalid': invalidFields.indexOf('inputName') != -1 }"
				   v-model="item.name"/>

			<label>Name:</label>

			<input type="text"
				   class="full-width"
				   placeholder="An optional note to remind you about this snippet"

				   v-model="item.description"/>

			<label>Desc:</label>

			<div class="tag-holder">
				<input-tag class="full-width"
						   placeholder="Add Tag"

						   v-bind:addTagOnKeys="tagAddKeys"

						   :tags.sync="item.tags"
						   :add-tag-on-blur="true"
						   :limit="-1"></input-tag>

				<div class="tag-helper">
					<span class="placeholder-info animated fadeIn"

						  v-if="item.tags.length == 0">
						<marquee class="tag-marquee" scrolldelay="200" behaviour="slide">Use tags to organise your snippets.  Press ENTER or TAB for multiple tags.</marquee>
					</span>

					<a class="help-icon" @click="showHelp('Tags are an optional way to organise your snippets, for example if you had a snippet called `My email address` you might want to use the tag `personal`.\n\nYou can enter multiple tags by hitting ENTER or TAB to turn a word or phrase into a tag.\n\nYou can also use tags to quickly find your snippets in settings mode, or even when searching, so if you wanted to find all the snippets with a certain tag you can use a colon.  So searching for `personal:` would show all snippets with the personal tag, and you can even perform searches within a tag, e.g. `personal: address` would find all snippets with the `personal` tag that contained the word `address`.')">
						<span class="fa fa-info"></span>
					</a>
				</div>

			</div>

			<div class="snippet-container">
				<div class="lang-container"

					 v-if="currentTab == 'SNIPPET'">
					<select v-model="item.language">
						<option :value="null" disabled hidden>Language</option>
						<option v-for="option in languages" v-bind:value="option.id">
							{{ option.label }}
						</option>
					</select>
				</div>

				<ul class="tabs">
					<li>
						<a class="button in-active"

								@click="setCurrentTab('SNIPPET')"
								:class="{ 'selected': currentTab == 'SNIPPET' }">Snippet</a>
					</li>

					<li v-if="currentItemHasPlaceholders">
						<a class="button in-active"

								@click="setCurrentTab('PLACEHOLDER')"
								:class="{ 'selected': currentTab == 'PLACEHOLDER' }">Placeholders</a>
					</li>

					<li v-else>
						(no placeholders
						<a class="help-icon" @click="showHelp('A placeholder is a piece of text that is meant to be replaced.  You can provide multiple options for a placeholder and you can free type into the field too.\n\nWrap any word in your snippet with `%` to define it as a placeholder, this will make the placeholders tab available where you can add options for each placeholder.')">
							<span class="fa fa-info"></span>
						</a>)
					</li>
				</ul>

				<div class="tab-pane">
					<div class="snippet"

						 :class="{ 'invalid': invalidFields.indexOf('inputSnippet') != -1 }"
						 v-if="currentTab == 'SNIPPET'">

						<editor id="aceEditor"
								v-model="item.snippet"
								@init="editorInit"
								v-bind:lang="item.language"
								theme="monokai"
								wrap="true"
								width="373"
								height="110"></editor>

						<div class="note body-font">
							Wrap a word with <span style="color: yellow"><code>%</code></span> to turn it into a <span style="color: yellow">placeholder</span>, e.g. <span style="color: yellow"><code>%SAMPLE%</code></span>
						</div>
					</div>

					<div class="placeholders"

						 v-if="currentTab == 'PLACEHOLDER'">

						<div class="placeholders-container">
							<div class="body-font">
								Use commas (<span style="color: yellow"><code>,</code></span>) to add multiple options for each placeholder. e.g. <span style="color: yellow"><code>option 1,option 2,option 3</code></span>
							</div>
							<br />


							<div v-for="(value, key, index) in item.variables">
								<input-tag v-bind:placeholder="`Add ${key}`"
										   v-bind:ref="'inputField' + index"
										   v-bind:id="'inputField' + index"
										   v-bind:addTagOnKeys="tagAddKeys"

										   :tags.sync="item.variables[key]"
										   :add-tag-on-blur="true"
										   :limit="-1"></input-tag>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="buttons-container">
				<router-link tag="button" :to="{ name: cancelButtonRouteName}">Cancel</router-link>

				<a class="button" v-if="currentState == 'EDIT'"
						v-on:click="resetForm()">Reset</a>

				<div  style="float:right">
					<a class="button" v-if="currentState == 'EDIT'"
							v-on:click="onDeleteClicked()">{{ deleteButtonLabel }}</a>

					<a class="button primary button"

						   :class="{ 'invalid': isValid }"
					   		v-on:click="saveForm()">{{ saveButtonLabel }}</a>
				</div>

			</div>

			<div class="message validation animated fadeInDown"

				 v-if="validationMessage && formIsDirty">
				{{validationMessage}}
			</div>
	</div>